asgiref==3.2.10
astroid==2.5
Django==3.1.13
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pylint==2.7.1
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
wrapt==1.12.1
psycopg2==2.8.6
django-admin-sortable2==1.0
python-decouple==3.4

