{% extends "base_generic.html" %}

{% block content %}

<body>
    <h1>Welcome to RitLinks!</h1>
    <p>{{ top_message }}</p>
    {% for category in all_categories %}
    <h3>{{ category }}</h3>
    <table>
        <tr>
            <th>Site</th>
            <th>Summary</th>
        </tr>
        {% for link in all_links %}
            {% if link.category == category %}
            <tr>
            <td>{{ link.name }}</td>
            <td>{{ link.description }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endfor %}

</body>

{% endblock %}
